version: "3.9"

volumes:
  pg_data:
  static:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/backend_static

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    env_file: .env
    # кладём build в общий том и выходим
    command: sh -c "cp -r /app/build/. /frontend_static/ || true"
    volumes:
      - static:/frontend_static

  gateway:
    build: ./gateway
    depends_on:
      - backend
      - frontend
    ports:
      - "8000:80"        # локально :8000, при желании можно "80:80"
    volumes:
      - static:/staticfiles:ro
